.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    vertical-align: top;
    overflow: hidden;
    border-radius: 10px;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}


h1 {
    text-align: left;
    padding-bottom: 0px;
    padding-left: 30px;
    font-family:'Segoe UI'
}

h2 {
    text-align: left;
    padding-bottom: 20px;
    font-family:'Segoe UI';
    color:#0E4D92
}

h3 {
    text-align: left;
    padding-bottom: 20px;
    font-family:'Segoe UI';
    color:#0E4D92
}

h4 {
    text-align: left;
    /* padding-bottom: 5px; */
    font-family:'Segoe UI';
    color:#5fbaff
}

p {
    text-align: left;
    font-family:'Segoe UI';
    color:black;
    font-weight: bold;
    font-size: 6;
}

.headline {
    margin-left: 30px;
}

#legend {
    margin-left: 50px;
    font-family: 'Segoe UI';
    text-align: left;
}

#source {
    margin-right: 30px;
    font-family: 'Segoe UI';
    text-align: right; 
}

#pillars {
    margin-top: 10px;
    margin-left: 50px; 
}

.inline-block {
    margin-top: 10px;
    margin-left: 30px; 
    display: inline-block;
}

.inline-block a:hover{
    border-radius: 20px;
    opacity: 0.2
}

svg .foo {
    stroke-width: 1;
    stroke: black;
  }

svg .text {
    font-family: 'Segoe UI';
    font-weight: bold;
  }

.labelhead {
    font-family: 'Segoe UI';
    font-weight: bold;    
    pointer-events: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 1px;
    padding: 10px;
    inline-size: 10px;
    overflow-wrap: break-word;
}
.label {
    font-family: 'Segoe UI';
    /*font-weight: bold;   */ 
    pointer-events: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 1px;
    padding: 10px;
    inline-size: 10px;
    overflow-wrap: break-word;
}

.pop-up {
    margin-right: 30px;
    text-align: right; 
    pointer-events: none;
    background-color: white;
    display: inline-block;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
    }